---
import { Image } from "astro:assets";

import WavyUnderline from "../../../assets/images/common/wavy-underline.svg";
import ShowcaseItem from "../components/ShowcaseItem.astro";

const SHOWCASE_ITEMS = [
  {
    title: "goESG",
    description:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    uri: "https://www.goesg.co",
  },
  {
    title: "DualMint",
    description:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    uri: "https://www.goesg.co",
  },
  {
    title: "goESG",
    description:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    uri: "https://www.goesg.co",
  },
  {
    title: "goESG",
    description:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    uri: "https://www.goesg.co",
  },
];
---

<section
  id="showcase"
  class="flex h-full w-full max-w-5xl flex-col gap-4 rounded-2xl bg-base-300 p-8"
>
  <div class="flex flex-col">
    <h2 class="font-heading text-5xl font-medium">Showcase</h2>

    <Image
      src={WavyUnderline}
      alt="underline for the heading"
      width={180}
      height={20}
      densities={[1, 2]}
    />
  </div>

  <ul id="showcase-list" class="carousel gap-4">
    {
      SHOWCASE_ITEMS.map((item, index) => (
        <ShowcaseItem
          key={index}
          title={item.title}
          description={item.description}
          uri={item.uri}
        />
      ))
    }
  </ul>
</section>

<script>
  import { animate, stagger } from "motion";

  const showcaseList = document.getElementById(
    "showcase-list",
  ) as HTMLUListElement;

  if (showcaseList) {
    const showcaseListChildren = Array.from(showcaseList.children);

    animate(
      showcaseListChildren,
      { opacity: [0, 1] },
      { delay: stagger(0.2), duration: 1 },
    );
  }
</script>
