---
import { Image } from "astro:assets";

import WavyUnderline from "../../../assets/images/common/wavy-underline.svg";
import ShowcaseItem from "../components/ShowcaseItem.astro";

const SHOWCASE_ITEMS = [
  {
    title: "goESG",
    associated_with: "Ipseity Network",
    description_short:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    description:
      "A minimal and responsive web app built to explore dynamic interactions and modern UI patterns. Features clean design, fast performance, and seamless integration with third-party APIs. Ideal for showcasing frontend skills and component architecture.",
    images_portrait: [
      "https://placehold.co/300x400",
      "https://placehold.co/300x400",
    ],
    images_landscape: [
      "https://placehold.co/600x400",
      "https://placehold.co/600x400",
    ],
    links: [
      {
        label: "App Store",
        url: "https://www.goesg.co",
      },
    ],
  },
  {
    title: "NagadPe",
    associated_with: "RR Solutions",
    description_short:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    description:
      "A minimal and responsive web app built to explore dynamic interactions and modern UI patterns. Features clean design, fast performance, and seamless integration with third-party APIs. Ideal for showcasing frontend skills and component architecture.",
    images_portrait: [
      "https://placehold.co/300x400",
      "https://placehold.co/300x400",
    ],
    images_landscape: [
      "https://placehold.co/600x400",
      "https://placehold.co/600x400",
    ],
    links: [
      {
        label: "Play Store",
        url: "https://www.goesg.co",
      },
    ],
  },
  {
    title: "DualMint",
    associated_with: "Ipseity Network",
    description_short:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    description:
      "A minimal and responsive web app built to explore dynamic interactions and modern UI patterns. Features clean design, fast performance, and seamless integration with third-party APIs. Ideal for showcasing frontend skills and component architecture.",
    images_portrait: [
      "https://placehold.co/300x400",
      "https://placehold.co/300x400",
    ],
    images_landscape: [
      "https://placehold.co/600x400",
      "https://placehold.co/600x400",
    ],
    links: [
      {
        label: "Website",
        url: "https://www.goesg.co",
      },
    ],
  },
  {
    title: "Skrate",
    associated_with: "",
    description_short:
      "A card component has a figure, a body part, and inside body there are title and actions parts.",
    description:
      "A minimal and responsive web app built to explore dynamic interactions and modern UI patterns. Features clean design, fast performance, and seamless integration with third-party APIs. Ideal for showcasing frontend skills and component architecture.",
    images_portrait: [
      "https://placehold.co/300x400",
      "https://placehold.co/300x400",
    ],
    images_landscape: [
      "https://placehold.co/600x400",
      "https://placehold.co/600x400",
    ],
    links: [
      {
        label: "WebApp",
        url: "https://www.goesg.co",
      },
      {
        label: "Play Store",
        url: "https://www.goesg.co",
      },
    ],
  },
];
---

<section
  id="showcase"
  class="flex h-full w-full max-w-5xl flex-col gap-4 bg-base-300 py-5 lg:rounded-2xl lg:py-8"
>
  <div class="flex flex-col px-5 lg:px-8">
    <h2 class="font-heading text-5xl font-medium">Showcase</h2>

    <Image
      src={WavyUnderline}
      alt="underline for the heading"
      width={190}
      height={20}
      densities={[1, 2]}
    />
  </div>

  <ul
    id="showcase-list"
    class="carousel carousel-center space-x-4 px-4 lg:px-6"
  >
    {
      SHOWCASE_ITEMS.map((item, index) => (
        <ShowcaseItem
          key={index}
          title={item.title}
          associated_with={item.associated_with}
          description_short={item.description_short}
          description={item.description}
          images_portrait={item.images_portrait}
          images_landscape={item.images_landscape}
          links={item.links}
        />
      ))
    }
  </ul>
</section>
